In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://www.worldometers.info/coronavirus/country/us/#nav-yesterday'
resp = requests.get(url)
data = resp.text # parse HTTP response
soup = BeautifulSoup(data, 'html.parser') 
table = soup.find(id="usa_table_countries_today")
df = pd.read_html(str(table),)[0]

#exclude the '#', 'source', and 'projections' columns 

df=df.drop(["#","Source","Projections"], axis=1)

In [ ]:
#exclude rows for country totals
df.drop([0, 64], axis=0)

                 USAState  TotalCases  ...  Tests/ 1M pop  Population
1              California     7450319  ...      3319489.0  39512223.0
2                   Texas     5972238  ...      1926568.0  28995881.0
3                 Florida     5351391  ...      2349724.0  21477737.0
4                New York     4832399  ...      4909177.0  19453561.0
5                Illinois     2773362  ...      3905367.0  12671821.0
..                    ...         ...  ...            ...         ...
59        Federal Prisons       63510  ...            NaN         NaN
60          Navajo Nation       47248  ...            NaN         NaN
61    Grand Princess Ship         122  ...            NaN         NaN
62      Wuhan Repatriated           3  ...            NaN         NaN
63  Diamond Princess Ship          46  ...            NaN         NaN

[63 rows x 12 columns]

# New Section

In [ ]:
#describe the dataframe by printing the first few rows
df.describe()

         TotalCases  NewCases  ...  Tests/ 1M pop    Population
count  6.500000e+01       0.0  ...   5.400000e+01  5.200000e+01
mean   3.319658e+06       NaN  ...   2.612197e+06  6.377432e+06
std    1.240353e+07       NaN  ...   1.191547e+06  7.300396e+06
min    3.000000e+00       NaN  ...   7.416520e+05  5.787590e+05
25%    2.166560e+05       NaN  ...   1.941252e+06  1.790876e+06
50%    6.814050e+05       NaN  ...   2.343513e+06  4.342705e+06
75%    1.524527e+06       NaN  ...   2.913143e+06  7.362761e+06
max    7.192593e+07       NaN  ...   6.708611e+06  3.951222e+07

[8 rows x 11 columns]

In [ ]:
# Avarage Active cases
df["ActiveCases"].mean()

1402456.9361702127

In [ ]:
#Max new death
df["NewDeaths"].max()

574.0

In [ ]:
#calculate Total death
df["TotalDeaths"].sum()

2667591.0

In [ ]:
# print the the top 5 states (name & value) for each of these metrics: new cases
newCases = df.iloc[:, [0, 2]]
print(newCases.sort_values(by=[newCases.columns[1]], ascending=False).head())

     USAState  NewCases
0   USA Total       NaN
1  California       NaN
2       Texas       NaN
3     Florida       NaN
4    New York       NaN

In [ ]:
# print the the top 5 states (name & value) for each of these metrics: total deaths
totalDeaths = df.iloc[:, [0, 8]]
print(totalDeaths.sort_values(by=[totalDeaths.columns[1]], ascending=False).head())

       USAState  Deaths/1M pop
32  Mississippi         3602.0
12      Arizona         3520.0
11   New Jersey         3463.0
23      Alabama         3432.0
24    Louisiana         3296.0

In [ ]:
# print the the top 5 states (name & value) for each of these metrics: total cases / 1M pop
#df[["USAState", "Tot Cases/1M pop"]].head(5)
totalCases = df.iloc[:, [0, 7]]
print(totalCases.sort_values(by=[totalCases.columns[1]], ascending=False).head())

        USAState  Tot Cases/1M pop
40  Rhode Island          308780.0
45  North Dakota          276933.0
47        Alaska          257827.0
28          Utah          257642.0
13     Tennessee          254234.0